@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/syncopate-v11-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Syncopate Regular'), local('Syncopate-Regular'), url('../css/fonts/syncopate-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../css/fonts/syncopate-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../css/fonts/syncopate-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../css/fonts/syncopate-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../css/fonts/syncopate-v11-latin-regular.svg#Syncopate') format('svg');
  /* Legacy iOS */
}
@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right   top;
  }
  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px, right   top 15px;
  }
}
body {
  background-color: #eee;
  font-family: 'Syncopate';
}
body main {
  background-color: #66025c;
  color: #efdf00;
  margin: auto;
  max-width: 1280px;
}
body main .playList {
  border-radius: 3px;
  height: 100%;
  margin: 0;
  padding: 0;
}
body main .playList li {
  align-items: center;
  background-color: #66025c;
  border: 2px solid transparent;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #66025c inset, 1px 1px 3px 2px #66025c inset;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 1px;
  padding: 15px 10px 10px 10px;
  transition: box-shadow 0.6s ease-in-out, text-shadow 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
body main .playList li:before,
body main .playList li:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}
body main .playList li:after {
  clear: both;
  content: "";
  display: table;
}
body main .playList li:hover {
  background-color: #cbbe00;
  border: 2px dashed #66025c;
  color: #66025c;
  text-shadow: -1px -1px #980389;
  transition: text-shadow 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
body main .playList li:hover:not(.active) {
  animation: border-dance 1s infinite linear;
  background: linear-gradient(90deg, #66025c 50%, #cbbe00 50%), linear-gradient(90deg, #66025c 50%, #cbbe00 50%), linear-gradient(0deg, #66025c 50%, #cbbe00 50%), linear-gradient(0deg, #66025c 50%, #cbbe00 50%);
  background-color: #cbbe00;
  background-position: left top, right bottom, left bottom, right   top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 3px, 4px 15px, 3px 15px;
  border: 2px solid #66025c;
  color: #66025c;
}
body main .playList li div {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 50%;
  max-width: 50%;
  -webkit-box-sizing: border-box;
}
body main .playList li.active {
  background-color: #efdf00;
  border: 2px solid transparent;
  box-shadow: 0 0 0 1px #efdf00 inset, 1px 1px 3px 2px #66025c inset;
  box-sizing: border-box;
  color: #66025c;
  text-shadow: -1px -1px #980389;
  transition: box-shadow 0.6s ease-in-out, text-shadow 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
body main .playList li.active:hover {
  border: 2px solid transparent;
}
body #playListData {
  display: none;
}
.row,
body main .playList li {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.col {
  flex: 0 0 auto;
}
.m2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.m4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.sm3,
.m3 {
  flex-basis: 25%;
  max-width: 25%;
}
.sm6 {
  flex-basis: 50%;
  max-width: 50%;
}
.sm9 {
  flex-basis: 75%;
  max-width: 75%;
}
html {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 601px) {
  body main .playList li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body main .playList li div.m2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  body main .playList li div.m3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  body main .playList li div.m4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
}
/*# sourceMappingURL=styles.css.map */