// FOUC-Fix syncopate-regular - latin //
@font-face {
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 400;
    src: url('../css/fonts/syncopate-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Syncopate Regular'), local('Syncopate-Regular'),
        url('../css/fonts/syncopate-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../css/fonts/syncopate-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../css/fonts/syncopate-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../css/fonts/syncopate-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../css/fonts/syncopate-v11-latin-regular.svg#Syncopate') format('svg'); /* Legacy iOS */
}

// Variables
@font-family: 'Syncopate';

// yellow primary-color
@primary-color: #cbbe00;

// purple secondary-color
@secondary-color: #66025c;

body {
    background-color: #eee;
    font-family: @font-family;

    main {
        background-color: @secondary-color;
        color: lighten(@primary-color, 7%);
        margin: auto;
        max-width: 1280px;

        .playList {
            border-radius: 3px;
            height: 100%;
            margin: 0;
            padding: 0;
            position: relative;
            transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
            -webkit-transition: -webkit-box-shadow 0.6s;

            li {
                align-items: center;
                background-color: @secondary-color;
                border: 2px solid transparent;
                border-radius: 3px;
                box-shadow: 0 0 0 1px @secondary-color inset, 1px 1px 3px 2px @secondary-color inset;
                box-sizing: border-box;
                cursor: pointer;
                display: flex;
                justify-content: center;
                margin-bottom: 1px;
                margin-left: auto;
                margin-right: auto;
                padding: 10px;
                transition: box-shadow 0.6s ease-in-out, text-shadow 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;

                &:before, &:after {
                    box-sizing: inherit;
                    -webkit-box-sizing: inherit;
                }

                &:after {
                    clear: both;
                    content: "";
                    display: table;
                }

                &:hover {
                    background-color: @primary-color;
                    border: 2px dashed @secondary-color;
                    color: @secondary-color;
                    text-shadow: -1px -1px lighten(@secondary-color, 10%);
                    transition: text-shadow 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;

                    &:not(.active) {
                        animation: border-dance 1s infinite linear;
                        background: linear-gradient(90deg,  @secondary-color 50%, @primary-color 50%), linear-gradient(90deg,  @secondary-color 50%, @primary-color 50%), linear-gradient(0deg,  @secondary-color 50%, @primary-color 50%), linear-gradient(0deg,  @secondary-color 50%, @primary-color 50%);
                        background-color: @primary-color;
                        background-position: left top, right bottom, left bottom, right   top;
                        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
                        background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
                        border: 2px solid @secondary-color;
                        color: @secondary-color;
                    }
                }

                div {
                    box-sizing: border-box;
                    float: left;
                    left: auto;
                    margin-left: auto;
                    min-height: 1px;
                    padding: 0 0.75rem;
                    right: auto;
                    -webkit-box-sizing: border-box;
                    width: 50%;
                }
            }


            li.active {
                background-color: lighten(@primary-color, 7%);
                border: 2px solid transparent;
                box-shadow: 0 0 0 1px lighten(@primary-color, 7%) inset, 1px 1px 3px 2px @secondary-color inset;
                box-sizing: border-box;
                color: @secondary-color;
                text-shadow: -1px -1px lighten(@secondary-color, 10%);
                transition: box-shadow 0.6s ease-in-out, text-shadow 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;

                &:hover {
                    border: 2px solid transparent;
                }
            }
        }
    }

    #playListData {
        display: none;
    }
}

//fouc-fix
html {
    opacity: 1;
    visibility: visible;
}

// Materialize CSS styles
.row {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    &:before, &:after {
        box-sizing: inherit;
        -webkit-box-sizing: inherit;
    }

    &:after {
        clear: both;
        content: "";
        display: table;
    }

    .col {
        box-sizing: border-box;
        float: left;
        min-height: 1px;
        padding: 0 0.75rem;
        -webkit-box-sizing: border-box;
    }

    .col.s6 {
        left: auto;
        margin-left: auto;
        right: auto;
        width: 50%;
    }

    .col.s12 {
        left: auto;
        margin-left: auto;
        right: auto;
        width: 100%;
    }
}

.col {
    .row {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
}

// Keyframes
@keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right   top;
    }

    100% {
        background-position: left 15px top, right 15px bottom, left bottom 15px, right   top 15px;
    }
}

// media queries
@media only screen and (min-width: 601px) {
    body {
        main {
            .playList {
                li {
                    div {
                        left: auto;
                        margin-left: auto;
                        right: auto;
                        width: 25%;
                    }
                }
            }
        }
    }

    .row {
        .col.m3 {
            left: auto;
            margin-left: auto;
            right: auto;
            width: 25%;
        }

        .col.m6 {
            left: auto;
            margin-left: auto;
            right: auto;
            width: 50%;
        }

        .col.m12 {
            left: auto;
            margin-left: auto;
            right: auto;
            width: 100%;
        }
    }
}
