// Imports
@import url("https://fonts.googleapis.com/css?family=Syncopate");

// Variables
@font-family: Syncopate;
@red-color: #FF0000;

body {
    font-family: @font-family;

    .main-content{
        color: @red-color;

        .playList {
            li {
                cursor: pointer;

                &:hover {
                    background: #8e8e8e;
                }
            }
        }
    }

    #playListData {
        display: none;
    }
}
